<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whalex.usercentre.mapper.SysCustomerMapper">
  <resultMap id="BaseResultMap" type="com.whalex.userCentre.api.entity.SysCustomer">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>

  <sql id="Base_Column_List">
    id, account, username, `password`, tenant_code, phone, avatar, create_time,
    update_time, `status`, is_delete,create_user,update_user
  </sql>

  <select id="selectUserByCondition" parameterType="com.whalex.userCentre.api.vo.SysCustomerVO" resultType="com.whalex.userCentre.api.vo.SysCustomerVO">
    SELECT <include refid="Base_Column_List"/> FROM sys_customer
    <where>
      <if test="cusVo.account != null and cusVo.account != ''">
         and account = #{cusVo.account}
      </if>
         and tenant_code = #{cusVo.tenantCode}
    </where>
  </select>

  <select id="getUserById" parameterType="com.whalex.userCentre.api.vo.SysCustomerVO" resultType="com.whalex.userCentre.api.vo.SysCustomerVO">
    SELECT <include refid="Base_Column_List"/> FROM sys_customer
    WHERE ID = #{id}
  </select>
    <select id="getUserDetailPage" resultType="com.whalex.userCentre.api.vo.SysCustomerVO">
      select sc.*,group_concat(sr.id) as roleIds,group_concat(sr.role_name) as roleNames  from sys_customer sc
       LEFT JOIN sys_customer_role scr on scr.customer_id = sc.id
       LEFT JOIN sys_role sr on sr.id = scr.role_id
       group by sc.id
    </select>
</mapper>