<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generate.SysCustomerRoleMapper">
  <resultMap id="BaseResultMap" type="whale.userCentre.api.entity.SysCustomerRole">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="customer_id" jdbcType="BIGINT" property="customerId" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
  </resultMap>


</mapper>