<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generate.PayGoodsOrderMapper">
  <resultMap id="BaseResultMap" type="com.whalex.order.api.entity.PayGoodsOrder">
    <id column="goods_order_id" jdbcType="INTEGER" property="goodsOrderId" />
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="goods_id" jdbcType="VARCHAR" property="goodsId" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="amount" jdbcType="VARCHAR" property="amount" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="pay_order_id" jdbcType="VARCHAR" property="payOrderId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="VARCHAR" property="isDelete" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="update_user" jdbcType="BIGINT" property="updateUser" />
    <result column="tenant_code" jdbcType="VARCHAR" property="tenantCode" />
  </resultMap>
  <sql id="Base_Column_List">
    goods_order_id, id, goods_id, goods_name, amount, user_id, `status`, pay_order_id, order_no,
    create_time, update_time, is_delete, create_user, update_user, tenant_code
  </sql>
</mapper>